<div class="parent">
  {{component-outlet class="parent__component-outlet"}}

  {{component-outlet "alt" class="parent__component-outlet_alt"}}

  <div class="parent__classic-outlet">
    {{outlet}}
  </div>
</div>
