<div class="top-bar">
  <div class="container">
    <h1>
      {{link-to 'ember-component-routes' 'index'}}
    </h1>
    <div class="top-bar__links">
      <a href="https://github.com/wongpeiyi/ember-component-routes">GitHub</a>
    </div>
  </div>
</div>
