@import 'node_modules/normalize-scss/sass/_normalize';

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@import 'base';
@import 'typo';

@import 'layout';
@import 'layout/top-bar';
@import 'layout/side-bar';
@import 'layout/main';

@import 'elements/code-block';
