<h1>Overview</h1>

<p>
  <strong>ember-component-routes</strong> is an experimental Ember CLI addon that enables routes to render components directly into a <code>&#123;&#123;component-outlet&#125;&#125;</code>, aiming to:
</p>

<ol>
  <li>Eliminate the need for controllers / top-level templates</li>
  <li>Simplify query params and route actions</li>
  <li>Enable component animations on route transitions</li>
</ol>

<p>... all while preserving classic routing functionality, so you don't have to rewrite your existing apps.</p>

<p>
  This addon was originally based on the <a href="https://github.com/ef4/rfcs/blob/routeable-components/active/0000-routeable-components.md" target="_blank" rel="noopener">Routable Components RFC</a>, but rewritten upon its closure to follow the new <a href="https://github.com/emberjs/rfcs/pull/38#issuecomment-355800759" target="_blank" rel="noopener">streamlined direction</a>.
</p>

<hr>

<h1>Installation</h1>

<p>
  In your Ember project folder, run:
</p>

{{#code-block numbers=false}}
ember install ember-component-routes
{{/code-block}}

<p>
  <strong>ember-component-routes</strong> is tested to work with Ember 2.4 and above.
</p>

<footer>
  {{link-to "Rendering components" "rendering"}}
</footer>
