<div class="child">
  {{component-outlet class="child__component-outlet"}}

  {{component-outlet "alt" class="child__component-outlet_alt"}}

  <div class="child__classic-outlet">
    {{outlet}}
  </div>
</div>
